<div class="field-container">
  <label attr.for="{{id}}" [class.required]="required">
    <ng-content select="app-label"></ng-content>
  </label>
  <div class="field">
    <div class="field-content">
      <ng-content></ng-content>
    </div>
    <div class="hint" *ngIf="!(hasErrors && displayErrors)">
      <ng-content select="app-hint"></ng-content>
    </div>
    <div class="errors" *ngIf="displayErrors">
      <ng-content select="app-error"></ng-content>
    </div>
  </div>
</div>
