<form #form="ngForm" novalidate autocomplete="off" (ngSubmit)="submit(form)">
  <app-field>
    <app-label>Email:</app-label>
    <input type="text" placeholder="Please enter your email" appInput name="email" [ngModel] [required]="true">
    <app-hint>This is a hint</app-hint>
    <app-error>This field is required</app-error>
  </app-field>
</form>
